.grid__item{
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
}
.grid__item--featured{
    &:before{
        position:absolute;
        top:6px;
        left:6px;
        content:"\F586";
        font-family: bootstrap-icons !important;
        color:$yellow-500;
        z-index:1;
    }
    &:after{
        position:absolute;
        top:0;
        left:0;
        content:"";
        width:50px;
        height:50px;
        border:25px solid $gray-800;
        border-bottom-color:transparent;
        border-right-color:transparent;
    }
}
.grid__item:has(.grid__album){
    border-radius: var(--bs-border-radius);
    overflow:hidden;
}
.grid__item img{
    max-width:100%;
    max-height:100%;
}
.grid__album{
    position:relative;
    height:100%;
    width:100%;
    overflow:hidden;
    aspect-ratio:2/3;
    color:inherit;
}
.grid__album-image{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:var(--bs-border-radius);
    transition:transform 0.13s;
    color:$body-color;
    &:hover{
        color:$body-color;
    }
}
.grid__album:hover .grid__album-image{
    transform:scale(1.075);
}
.grid__caption{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.8));
    color:white;
    font-size:$font-size-sm;
    font-weight:600;
    display:flex;
    align-items:flex-end;
    padding:0.5rem 1rem;
    text-shadow: 1px 1px 3px rgb(0 0 0 / 70%)
}

.grid__photo{
    display:flex;
    align-items:center;
    justify-content:center;
}
.grid__photo img{
    cursor:zoom-in;

    &:hover{
        @include grid-photo-focus;
    }
}

/**
 * Sorting
 */
.album__grid--sorting{
    .grid__item:has(.grid__photo) img{
        cursor:move;
    }
    .grid__item:has(.grid__album){
        cursor:not-allowed;
    }
    .grid__item:has(.grid__album){
        pointer-events:none;
        opacity:0.4;
    }
    & .grid__item:hover :is(.grid__tools,.grid__info),
    & .grid__item--featured::before,
    & .grid__item--featured::after{
        display:none;
    }
}
.sortable-selected img{
    @include grid-photo-focus;
}