.album{
    display:grid;
    grid-template-columns: 200px 1fr;
    overflow:hidden;
}
.album__sidebar{
    overflow:hidden;
}
.album__main{
    overflow:hidden;
    display:flex;
    flex-direction:column;
}
.album__grid-container{
    flex-grow:1;
    overflow-y:auto;
    padding-inline-end:1.25rem;
    padding-block-start:0.5rem;
}
.album__breadcrumb .breadcrumb{
    --bs-breadcrumb-margin-bottom:0;
}
.album__breadcrumb,
.album__grid-container{
    padding-inline-start:1rem;
}
.album__grid{
    // Source of this magic: https://css-tricks.com/an-auto-filling-css-grid-with-max-columns/
    --grid-layout-gap: 0.5rem;
    --grid-column-count: 6;
    --grid-item--min-width: 175px;

    /**
    * Calculated values.
    */
    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
    --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
    grid-gap: var(--grid-layout-gap);
    
}
.album__grid--sm{
    --grid-column-count: 10;
    --grid-item--min-width: 100px;
}
.album__grid--square{
    .grid__album,
    .grid__photo{
        aspect-ratio:1
    }
}

.grid__item{
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
}
.grid__item--featured{
    &:before{
        position:absolute;
        top:6px;
        left:6px;
        content:"\F586";
        font-family: bootstrap-icons !important;
        color:$yellow-500;
        z-index:1;
    }
    &:after{
        position:absolute;
        top:0;
        left:0;
        content:"";
        width:50px;
        height:50px;
        border:25px solid rgba($gray-800, 0.8);
        border-bottom-color:transparent;
        border-right-color:transparent;
    }
}
.grid__item:has(.grid__album){
    border-radius: var(--bs-border-radius);
    overflow:hidden;
}
.grid__item img{
    max-width:100%;
    max-height:100%;
}
.grid__album{
    position:relative;
    height:100%;
    width:100%;
    overflow:hidden;
}
.grid__album img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:var(--bs-border-radius);
    transition:transform 0.13s;
}
.grid__album:hover img{
    transform:scale(1.075);
}

.grid__caption{
    position:absolute;
    inset: 0;
    top:75%;
    background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.8));
    color:white;
    font-size:$font-size-sm;
    font-weight:600;
    display:flex;
    align-items:flex-end;
    padding:0.5rem 1rem;
    text-shadow: 1px 1px 3px rgb(0 0 0 / 70%)
}

.grid__photo{
    display:flex;
    align-items:center;
    justify-content:center;
}
.grid__photo img{
    cursor:zoom-in;

    &:hover{
        // --outline-size: 0.4rem;        
        // outline: var(--outline-size) solid rgb(13 110 253 / 25%);
        // outline-offset:calc(-1 * var(--outline-size));
        outline:1px solid $input-focus-border-color;
        box-shadow: 0 0 0 0.4rem $input-btn-focus-color;
    }
}

.grid__photo-btn{
    position:absolute;
    top:0.5rem;
    z-index:2;
}
.grid__info{
    left:0.5rem;
}
.grid__tools{
    right:0.5rem;
}
.grid__item:not(:hover){
    .grid__info,
    .grid__tools{
        display:none;
    }
}

.grid__popover{
    min-width:250px;
    font-size:1rem;
}
.grid__battle-bar{
    position:relative;
    margin:1rem -1rem -1rem -1rem;
    border-radius: 0 0 var(--bs-border-radius) var(--bs-border-radius);
}
.grid__battle-stats{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    color:white;
}
