.btn-outline-input{
    --bs-btn-border-color: #{$input-border-color};
    &:hover{
        --bs-btn-hover-bg: var(--bs-btn-border-color);
    }
}

.btn-outline-secondary{
    --bs-btn-color: var(--bs-gray-600);
}
.btn-primary{
    --bs-btn-color:#fff;
}

.btn-grid{
    --bs-btn-bg: hsla(0, 0%, 50%, 50%);
    --bs-btn-color:white;

    --bs-btn-hover-bg: hsla(0, 0%, 70%, 50%);
    --bs-btn-hover-color: var(--bs-btn-color);

    --bs-btn-active-bg: hsla(0, 0%, 30%, 50%);
    --bs-btn-active-color: var(--bs-btn-color);
    --bs-btn-active-border-color: transparent;
    border-radius:1rem;
    padding:0;
    line-height:24px;
    width:26px;
}

/**
 * .btn-appear-* classes behave like .btn-outline-* classes, but without the outline
 */
 [class*="btn-appear"]{
    background-color:transparent;
    --base-colour:pink;
    --hover-text-colour:purple;

    color:var(--base-colour);
    &:hover{
        background-color:var(--base-colour);
        color:var(--hover-text-colour);
    }
}
@each $name, $colour in $theme-colors{
    .btn-appear-#{$name}{
        --base-colour: #{$colour};
        --hover-text-colour: #{color-contrast($colour)};
    }
}