@use "sass:math";
$font-family-sans-serif: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-size-base: math.div(15rem,16);

/**
 * Change colours to Tailwind
 */


@import "_tailwind-colours.scss";

$white:    #fff;
$gray-100: $tw-neutral-100;
$gray-200: $tw-neutral-200;
$gray-300: $tw-neutral-300;
$gray-400: $tw-neutral-400;
$gray-500: $tw-neutral-500;
$gray-600: $tw-neutral-600;
$gray-700: $tw-neutral-700;
$gray-800: $tw-neutral-800;
$gray-900: $tw-neutral-900;
$black:    #000;

$blue: $tw-blue-500;
$indigo: $tw-indigo-500;
$purple: $tw-purple-500;
$pink: $tw-pink-500;
$red: $tw-rose-500;
$orange: $tw-orange-500;
$green: $tw-green-500;
$teal: $tw-teal-500;
$cyan: $tw-cyan-500;
$gray: $tw-gray-600;
$gray-dark: $tw-gray-800;